.previewWrapper {
  position: absolute;
  flex-wrap: wrap;
  border-radius: 50%;
  overflow: hidden;
  z-index: 3;
  pointer-events: none;
}

.circle {
  z-index: 4;
}

.blocksWrapper {
  position: absolute;
  display: flex;
  flex-wrap: wrap;
  height: 100%;
  width: 100%;
  z-index: 3;
}

.currentColor {
  transform: translate(-50%);
  top: calc(50% + 12px);
  position: absolute;
  left: 50%;
  background-color: white;
  padding: 4px;
  border-radius: 10px;
}
